body {
  margin: 0;
}
.main {
  background-image: url("./assets/bg.png");
  height: 100vh;
  background-size: cover;
  background-position:center;
}
.wrapper {
  width: 80vw;
  margin: 0 auto;
  padding-top: 10px;
  /* border: 1px solid red; */
}
.main .wrapper ul {
  float: right;
  margin: 0;
}
.main .wrapper ul li {
  float: left;
  list-style: none;
  margin-left: 15px;
}
.main .wrapper ul li a {
  color: white;
  font-size: 1.5vw;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.85;
}
.clearfix {
  clear: both;
}
#maintext {
  margin-top: 28vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
  text-align: center;
}
#subtext {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  border-radius: 30px;
  border: 1px solid sandybrown;
  width: 160px;
  height: 35px;
}
#button1 {
  background-color: sandybrown;
  color: white;
  font-size: 1.1rem;
  margin-right: 1%;
}
#button2 {
  background-color: rgba(1, 1, 1, 0);
  color: sandybrown;
  font-size: 1.1rem;
}
#button2 span {
  /*как сдвинуть картинку по высоте внутри кнопки?*/
}
#down{
    margin-top: 11%;
    text-align: center;
}
.cardcontainer{
    background-color:white;
    min-height: 50px;
    width:80vw;
    margin: 0 auto;
}

.box{
    box-sizing: border-box;
    width: vw;
    min-width: 300px;
    height:250px;
    border-radius:20px;
    border:1px solid grey;
    background-color:white;
    margin:50px;
    padding:15px;
    float:left;
    width:calc(100% / 3 - 100px);
}

.box h3{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(88, 86, 86);
}
.box p{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(88, 86, 86);
}
.box button{
    border-radius: 30px;
    border: 1px solid sandybrown;
    width: 160px;
    height: 35px;
     background-color: rgba(1, 1, 1, 0);
     color: sandybrown;
     font-size: 1.1rem;
}
#stripe{
    height:60px;
    background-color:sandybrown
}
#second h1{
    color:rgb(88, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#second .text{
    color:rgb(88, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#footer{
    background-color:#0f4c81;
}
#footer .text{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 30vw;
    color:white;
    margin-bottom:30px;
    font-size: 1.1vw;
}
#footerimages{
    padding-bottom:30px;
}
#leftblock{
    float: left;
    /* width:30vw; */
}
#rightblock{
    float:right;
}

#footer ul{
    margin:0;
    float:left;
}
#footer ul li{
    list-style: none;
    font-size: 1.1vw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-bottom: 10px;
}
#footer ul li a{
    font-size: 1.1 vw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}